<h1>Editing authentication</h1>

<%= render "form", authentication: @authentication %>

<br>

<div>
  <%= link_to "Show this authentication", @authentication %> |
  <%= link_to "Back to authentications", authentications_path %>
</div>
